/* TODO: Rename this to sidebar instead? */
.nav {
  height: 100vh;
  width: auto;
  background-color: var(--grey);
  padding: 2rem;
  font-size: 14px;
}

.nav h4 {
  color: var(--subtext);
  margin-bottom: 1rem;
}

.nav svg {
  fill: var(--dark);
  margin-right: 0.5rem;
}

.nav svg path {
  stroke: var(--dark);
}

.nav ul {
  list-style-position: inside;
  list-style-type: none;
}

.nav>ul {
  margin-left: 0;
  margin-bottom: 1rem;
}

.nav>ul ul {
  margin-left: 1rem;
}

.nav ul li>span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav ul li,
.nav ul li>ul {
  margin-bottom: 0.5rem;
}

.nav .nav-expanded {
  cursor: pointer;
}