@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
    @apply font-bold;
  }

  h4 {
    @apply text-xl;
    @apply font-bold;
  }

  h5 {
    @apply text-lg;
    @apply font-bold;
  }

  span, p {
    @apply text-base text-primary;
  }
}

@tailwind components;
@tailwind utilities;

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

svg {
  fill: theme('colors.icon');
  stroke: theme('colors.icon');
  width: 24px;
  height: 24px;
}