* {
  margin: 0;
  padding: 0;
}

body {
  --dark: #14213D;
  --light: #FFFFFF;
  --font: 'Open Sans', 'Lato', 'Roboto', sans-serif;
  --font-size: 18px;
  --icon-size: 24px;

  font-family: var(--font);
  font-size: var(--font-size);
}

body svg {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--light);
}



.heading {
  text-align: center;
}

.item {
  width: 70%;
  margin: 0 auto;
}

#feed-name {
  width: 70%;
  margin: 0 auto;
  font-size: 22px;
}