#app {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 16px;
}

.heading {
  text-align: center;
}

.item {
  width: 70%;
  margin: 0 auto;
}

#feed-name {
  width: 70%;
  margin: 0 auto;
  font-size: 22px;
}